---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import TagCard from "../../components/TagCard.astro";

const allPost = await Astro.glob("../posts/*.md");

const tags = [...new Set(allPost.flatMap((post) => post.frontmatter.tags))];
---

<Layout title="Tags">
  <Title>
    <span slot="title"> Tags de los artículos</span>
    <span slot="subtitle"> Aquí se muestran los tags de los artículos</span>
  </Title>

  <div class="w-full flex flex-col justify-center items-center gap-5 p-5">
    {tags.map((tag) => <TagCard tag={tag} />)}
  </div>
</Layout>
