---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

// Astro.glob: Nos permite buscar archivos en el sistema de archivos
const allPosts = await getCollection("posts");

// Ordenamos los posts por fecha de publicación
const sortedPosts = allPosts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});
---

<Layout title="Blog">
  <Title>
    <h1 class="text-3xl font-bold" slot="title">Blog</h1>
    <p class="text-lg font-thin" slot="subtitle">
      En este blog encontrarás una bitácora de mi recorrido aprendiendo Astro,
      un nuevo framework para construir sitios web, entre otras tecnologías.
    </p>
  </Title>

  <ul class="flex flex-col w-full justify-center items-center p-5 gap-5">
    {
      sortedPosts.map((post) => {
        const { title, pubDate: date, description } = post.data;

        return (
          <BlogPost
            title={title}
            date={date}
            description={description}
            url={post.slug}
            date={new Date(date).toLocaleDateString("es-ES", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          />
        );
      })
    }
  </ul>
</Layout>
