---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <Title>
    <span slot="title">Bienvenidos a nuestro blog</span>
    <span slot="subtitle">
      En este blog encontrarás contenido sobre tecnología, desarrollo web y
      programación.
    </span>
  </Title>
</Layout>
