---
import { tagBg } from "../utils/styles";

const { tags } = Astro.props;
---

<ul class="flex flex-wrap gap-5 p-5 justify-center items-center">
  {
    tags.map((tag) => (
      <li class={`${tagBg[tag].bg} rounded-lg`}>
        <a href={`/tags/${tag}`} class={`${tagBg[tag].text} p-2 rounded-lg`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>
