<div
  class="w-full h-56 p-5 text-black bg-slate-400 dark:text-white dark:bg-slate-700 flex flex-col justify-center items-center"
>
  <div
    class="flex flex-col w-full sm:w-[500px] justify-center items-center text-center gap-2"
  >
    <h1 class="text-3xl font-bold" slot="title">
      <slot name="title" />
    </h1>
    <p class="text-lg font-thin" slot="subtitle">
      <slot name="subtitle" />
    </p>
    <slot />
  </div>
</div>
